
body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, black, transparent);
}

header{
    padding: 20px;
    font-weight: bolder;
    font-size: 50px;
    background: linear-gradient(45deg, snow, transparent);
    width: 100%;
    text-align: center;
}

.calculator{
    margin: 70px auto;
    padding: 20px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: space-between;
    
    width: 600px;
    height: 800px;
    background-color: transparent;
    color: white;
}
.screen{
    height: 123px;
    width: 100%;
    max-height: 133px;
    /* max-width: 580px; */
    /* text-align: end; */
    position: relative;
    /* padding: 10px; */
    border-radius: 5px;
    background-color: grey;
    margin-bottom: 10px;
}
.input{
    width: 95%;
    position: absolute;
    /* right: 10px; */
    left: 10px;
    bottom: 10px;
    font-size: 68px;
    text-align: end;
    /* top: 10px; */
    background-color: transparent;
    border: 0px;
    outline: none;
}

.button{
    height: 126px;
    width: 135px;
    max-width: 140px;
    max-height: 133px;
    background-color: lightseagreen;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin: 5px 0px;
    transition: transform .1s;
    
}

.button:hover{
    transform: scale(1.05);
    border: 2px solid black;
}

.operator{
    background-color: lavenderblush;
}

.topOperator{
    background-color: lightcoral;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} */